<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Giới thiệu</title>
    <!-- Link CSS -->
    <link rel="stylesheet" href="CSS/home.css" />
    <!-- <link rel="stylesheet" href="CSS/blog.css" /> -->
    <!-- Favicon -->
    <link rel="shortcut icon" href="IMG/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <!-- CUTE CAT -->
    <img id="dance-cat2" src="IMG/dance-cat.gif" width="200" height="200" />
    <img id="dance-cat" src="IMG/dance-cat2.gif" width="200" height="200" />

    <!-- HEADER -->
    <header>
      <a href="index.html">
        <h1>SayCheese</h1>
      </a>
      <div class="sign-in-options">
        <a href="login.html">LOGIN</a>/
        <a href="register.html">REGISTER</a>
      </div>
    </header>

    <!-- NAVBAR -->
    <nav>
      <ul>
        <li>
          <a href="./index.html">Trang chủ</a>
          <ul>
            <li><a href="#danh-muc">Danh mục</a></li>
            <li><a href="#ua-chuong">Món ưa chuộng</a></li>
            <li><a href="#xem-nhieu">Món xem nhiều nhất</a></li>
            <li><a href="#ban-chay">Món bán chạy</a></li>
            <li><a href="#blogs">Blogs</a></li>
            <li><a href="#dac-sac">Món đặc sắc</a></li>
          </ul>
        </li>
        <li><a href="./blog.html">Giới thiệu</a></li>
        <li><a href="./shop.html">Cửa hàng</a></li>
      </ul>
    </nav>

    <!-- BANNER IMAGE -->
    <div class="banner">
      <div class="banner-container">
        <h1>Về Say Cheese</h1>
      </div>
    </div>

    <!-- ABOUT SECTION -->
    <div class="about-section">
      <iframe
        name="video"
        src="video.html"
        frameborder="0"
        class="about-thumb"
        scrolling="no"
        height="100%"
      ></iframe>
      <div class="small-vid">
        <a href="video1.html" target="video">
          <img width="100" height="220" src="IMG/video1.jpg" alt="" />
        </a>
        <a href="video2.html" target="video">
          <img width="100" height="220" src="IMG/video2.jpg" alt="" />
        </a>
        <a href="video3.html" target="video">
          <img width="100" height="220" src="IMG/video3.jpg" alt="" />
        </a>
      </div>
      <div class="about-content">
        <h1>
          Bánh trứng gà non với công thức nguyên bản từ Hồng Kông mang đến chiếc
          bánh thơm lừng trứng sữa
        </h1>
        <p>
          Không chỉ theo đuổi công thức bánh đặc trưng phong cách HongKong với
          lớp rìa giòn rụm, bên trong dẻo dai, bùi bùi, không gây ngán, không
          gây nghẹn với người lớn tuổi và trẻ nhỏ. Say Cheese còn nghiên cứu
          công thức riêng, giá trị dinh dưỡng cao với 3 thành phần chính: bột mì
          nguyên cám, bột nếp cao cấp và bột sắn dây. <br />
          Với các thành phần ngũ cốc trên, một chiếc bánh trứng gà non HK tại
          Say Cheese mang đến nhiều vitamin và khoáng chất, giàu chất chất chống
          oxi hoá, cải thiện sức khoẻ đường ruột, tăng cường hệ miễn dịch.
        </p>
        <img class="about-signature" src="IMG/Signature.jpg" alt="" />
      </div>
    </div>

    <!-- CHOOSE US AREA -->
    <div class="choose-us">
      <div class="single-choose">
        <img src="IMG/egg-waffle-balls.png" alt="" />
        <h3>Vỏ bánh giòn rụm</h3>
        <p>
          Vỏ bánh giòn, ruột bánh dẻo mịn, thơm mùi trứng là điều quyết định nên
          một chiếc bánh ngon, mà không cần nhiều điều cầu kỳ
        </p>
      </div>
      <div class="single-choose">
        <img src="IMG/cheese.png" alt="" />
        <h3>Nhân bánh đa dạng</h3>
        <p>
          Gồm có phô mai, xúc xích, chà bông, rong biển, trứng muối, choco
          chips. Ngoài ra còn có 3 vị vỏ bánh: matcha, cacao và than tre
        </p>
      </div>
      <div class="single-choose">
        <img src="IMG/milk-tea-cup.png" alt="" />
        <h3>Trà sữa đậm vị</h3>
        <p>
          Sử dụng nông sản trà thuần Việt từ Lâm Đồng với tỷ lệ lá và búp cao,
          mang đến chất lượng trà tốt nhất cho sức khỏe
        </p>
      </div>
    </div>

    <!-- ABOUT GALLERY SECTION -->
    <div class="gallery">
      <div class="single-choose">
        <img src="IMG/what-we-do.jpg" alt="" />
        <h3>Bánh được nướng như thế nào?</h3>
        <p>
          Mỗi mẻ bột cần chờ thời gian phù hợp để có độ xốp và độ giòn, bánh chỉ
          được nướng nóng ngay khi có order chứ không nướng sẵn
        </p>
      </div>
      <div class="single-choose">
        <img src="IMG/our-mission.jpg" alt="" />
        <h3>Liên tục cập nhật món mới</h3>
        <p>
          Hưởng ứng sự yêu mến của khách hàng dành cho series thơm béo và thanh
          mát, menu nhà Say Cheese quyết định kết nạp thêm 2 món sữa tươi cà phê
          và trà táo đỏ rất ư là mát xanh
        </p>
      </div>
      <div class="single-choose">
        <img
          style="object-position: 50% 70%"
          src="IMG/our-history.jpg"
          alt=""
        />
        <h3>
          Cuộc hẹn với <br />
          mùi hương
        </h3>
        <p>
          Là mùi hương ngọt ngào nức mũi từ những chiếc bánh nóng mới ra lò, là
          sự ấm áp lan toả của hương vị sô-cô-la, hay sự bình tĩnh đến dễ chịu
          của mùi trà đen thơm lừng
        </p>
      </div>
    </div>

    <div class="two-theme">
      <!-- WHAT WE CAN DO FOR YOU -->
      <div class="toggle-div">
        <h2>Say có gì cho bạn?</h2>
        <div class="main">
          <label for="item-1" class="toggle" id="toggle-1">
            Giao hàng nhanh chóng
            <img src="IMG/down-arrow.png" alt="" />
          </label>
          <input
            type="checkbox"
            checked
            name="one"
            id="item-1"
            class="hide-input"
          />
          <div class="toggle-el" id="content-1">
            <div>
              <p>
                Say Cheese có mặt trên hầu hết các ứng dụng giao thức ăn thịnh
                hành tại thành phố Hồ Chí Minh như Grab, Gojek, Shopee Food với
                đủ loại mã giảm giá siêu hời
              </p>
            </div>
          </div>
        </div>
        <div class="main">
          <label for="item-2" class="toggle">
            Nguyên liệu 100% chất lượng
            <img src="IMG/down-arrow.png" alt="" />
          </label>
          <input
            type="checkbox"
            checked
            name="one"
            id="item-2"
            class="hide-input"
          />
          <div class="toggle-el" id="content-2">
            <div>
              <p>
                Say Cheese sở hữu nghiên cứu công thức riêng, giá trị dinh dưỡng
                cao với 3 thành phần chính: bột mì nguyên cám, bột nếp cao cấp
                và bột sắn dây. Với các thành phần ngũ cốc trên, một chiếc bánh
                trứng gà non HK tại Say Cheese mang đến nhiều vitamin và khoáng
                chất, giàu chất chất chống oxi hoá, cải thiện sức khoẻ đường
                ruột, tăng cường hệ miễn dịch.
              </p>
            </div>
          </div>
        </div>
        <div class="main">
          <label for="item-3" class="toggle">
            Combo ăn bánh uống trà cho mọi dịp ăn uống
            <img src="IMG/down-arrow.png" alt="" />
          </label>
          <input
            type="checkbox"
            checked
            name="one"
            id="item-3"
            class="hide-input"
          />
          <div class="toggle-el" id="content-3">
            <div>
              <p>
                + Combo Lai Rai Tán Gẫu <br />
                + Combo Thanh Nhiệt Chạy Deadline <br />
                + Combo Coffee Time <br />
                + Combo Happy <br />
                + Combo Chiếc Bụng Réo
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- CUSTOMER'S FEEDBACK -->
      <div class="feedbacks">
        <h2>Phản hồi</h2>
        <div class="customer">
          <img src="IMG/profile.png" alt="" />
          <div class="customer-details">
            <h4>Thùy Anh</h4>
            <p>
              Mình ăn bánh-uống nước ở đây riết ghiền luôn á! Ngon hết sẩy!!
            </p>
          </div>
        </div>
        <div class="customer">
          <img src="IMG/profile.png" alt="" />
          <div class="customer-details">
            <h4>Cát Tường</h4>
            <p>
              Ngon quá vậy, giỡn mặt hả!? Trà tắc có hơn 10k mà uống muốn khùng
              luôn á!!!
            </p>
          </div>
        </div>
        <div class="customer">
          <img src="IMG/profile.png" alt="" />
          <div class="customer-details">
            <h4>Đức Tùng</h4>
            <p>Ngon xỉu</p>
          </div>
        </div>
      </div>
    </div>

    <!-- MAP -->
    <div class="map gallery">
      <div class="title">
        <p>Mời các bạn cùng đến với</p>
        <h2>Say Cheese</h2>
      </div>
      <iframe
        src="https://www.google.com/maps/d/u/0/embed?mid=1XL6Ttao26Y-5LWKGqfSw2vsMcAC5vYo&ehbc=2E312F"
        width="100%"
        height="480"
      ></iframe>
    </div>

    <!-- FOOTER -->
    <footer>
      <div class="left-footer">
        <h1>Say Cheese</h1>
        <h4>Ăn bánh uống trà</h4>
        <p>
          Địa chỉ: 017 chung cư Phan Văn Trị, đường Lê Hồng Phong, phường 2,
          quận 5, tpHCM
        </p>
        <p>Số Điện Thoại: 0379427326</p>
        <p>Email: huynhphamthuyanh.126@gmail.com</p>
      </div>
      <img class="footer-logo" src="IMG/logo.jpg" alt="" />
    </footer>
  </body>
</html>
