<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng nhập</title>
    <!-- Link CSS -->
    <link rel="stylesheet" href="../CSS/home.css" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="../IMG/favicon.png" type="image/x-icon" />
  </head>
  <body id="login-body">
    <!-- CUTE CAT -->
    <img id="login-cat" src="../IMG/login-cat.gif" width="200" height="200" />

    <!-- LOGIN -->
    <div class="login-container">
      <a href="index.html" class="back-home">
        <img src="IMG/up-left-arrow.png" width="15" height="15" />
        <p>Trang chủ</p>
      </a>
      <div class="login">
        <h1>Say Cheese</h1>
        <form action="">
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Tên đăng nhập"
          />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Mật khẩu"
          />
          <a href="#">Quên mật khẩu?</a>
          <button type="submit">Đăng nhập</button>
        </form>
        <p class="font-13">
          Chưa có tài khoản?
          <a href="register.html">Đăng ký!</a>
        </p>
        <hr />
        <p>Hoặc đăng nhập với</p>
        <div class="sign-in-opt">
          <button type="button">
            <img src="IMG/black-facebook.png" width="15" height="15" />
            Facebook
          </button>
          <button type="button">
            <img src="IMG/google.png" width="15" height="15" />
            Google
          </button>
        </div>
      </div>
    </div>

    <img src="IMG/sale-banner.jpg" class="big-img" />
  </body>
</html>
