<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Say Cheese</title>
    <!-- Link CSS -->
    <link rel="stylesheet" href="../style/home.css" />
    <link rel="stylesheet" href="../style/product-details.css" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <!-- CUTE CAT -->
    <img id="dance-cat2" src="../images/dance-cat.gif" width="200" height="200" />
    <img id="dance-cat" src="../images/dance-cat2.gif" width="200" height="200" />

    <!-- HEADER -->
    <header>
      <a href="index.html">
        <h1>SayCheese</h1>
      </a>
      <div class="sign-in-options">
        <a href="cart.html">
          <img width="25" src="../images/grocery-store.png" alt="cart" />
          <span id="cart-count"></span
          >
        </a>
      </div>
      <!-- <div class="sign-in-options">
        <a href="login.html">LOGIN</a>/
        <a href="register.html">REGISTER</a>
      </div> -->
    </header>

    <!-- NAVBAR -->
    <nav>
      <ul>
        <li>
          <a href="index.html">Trang chủ</a>
          <ul>
            <li><a href="#danh-muc">Danh mục</a></li>
            <li><a href="#ua-chuong">Món ưa chuộng</a></li>
            <li><a href="#xem-nhieu">Món xem nhiều nhất</a></li>
            <li><a href="#ban-chay">Món bán chạy</a></li>
            <li><a href="#blogs">Blogs</a></li>
            <li><a href="#dac-sac">Món đặc sắc</a></li>
          </ul>
        </li>
        <li><a href="blog.html">Giới thiệu</a></li>
        <li>
          <a href="shop.html">Cửa hàng</a>
          <ul id="menu-cate"></ul>
        </li>
      </ul>
    </nav>

    <!-- BANNER IMAGE -->
    <div class="banner">
      <div class="banner-container">
        <h1>Chi tiết sản phẩm</h1>
      </div>
    </div>

    <!-- PRODUCT DETAILS -->
    <div class="product-details">
      <!-- <div>
        <img src="../images/pmxxcb.jpg" width="500" height="400" />
        <div class="detail-img">
          <a href="">
            <img src="../images/detail-img.jpg" width="100" height="100" />
          </a>
          <a href="">
            <img src="../images/detail-img2.jpg" width="100" height="100" />
          </a>
          <a href="">
            <img src="../images/detail-img3.jpg" width="100" height="100" />
          </a>
          <a href="">
            <img src="../images/detail-img4.jpg" width="100" height="100" />
          </a>
        </div>
      </div>
      <div class="details">
        <div>
          <h1>NV phô mai xúc xích chà bông</h1>
          <p class="">Bánh trứng gà non HongKong</p>
          <div>
            <img src="../images/star.png" width="13" height="13" />
            <img src="../images/star.png" width="13" height="13" />
            <img src="../images/star.png" width="13" height="13" />
            <img src="../images/star.png" width="13" height="13" />
            <img src="../images/star.png" width="13" height="13" />
          </div>
          <p class="price">36.000đ</p>
          <p>
            Một chiếc bánh trứng gà non thơm lừng trứng sữa không chỉ thích hợp
            để bắt đầu một ngày mới đầy năng lượng, mà còn thích hợp cho buổi xế
            vội, hoặc buổi tối nhâm nhi bánh trà ngon miệng để học bài, làm việc
          </p>
        </div>
        <div class="btn">
          <button>Mua ngay</button>
          <button>Thêm vào giỏ hàng</button>
        </div>
        <div class="prod-social">
          <a href="#" id="facebook">
            <img src="../images/facebook.png" width="13" height="13" />
            Like
          </a>
          <a href="#" id="twitter">
            <img src="../images/twitter.png" width="13" height="13" />
            Tweet
          </a>
          <a href="#" id="pinterest">
            <img src="../images/pinterest.png" width="13" height="13" />
            Save
          </a>
          <a href="#" id="instagram">
            <img src="../images/instagram.png" width="13" height="13" />
            Share
          </a>
          <a href="#" id="google-plus">
            <img src="../images/google-plus.png" width="16" height="16" />
            Share
          </a>
        </div>
      </div> -->
    </div>

    <!-- DESCRIPTION IMAGES -->
    <div class="description">
      <fieldset>
        <legend>Mô tả</legend>
        <img src="../images/des1.jpg" alt="" />
        <img src="../images/des2.jpg" alt="" />
        <img src="../images/des6.jpg" alt="" />
        <img src="../images/des3.jpg" alt="" />
        <img src="../images/des5.jpg" alt="" />
        <img src="../images/des4.jpg" alt="" />
      </fieldset>
    </div>

    <!-- RELATED PRODUCTS -->
    <div class="best-sellers">
      <div class="title">
        <h2>Những sản phẩm liên quan</h2>
      </div>

      <div class="product-list">
        <!-- <div class="product">
          <div class="overflow-hidden">
            <img src="IMG/x2pm.jpg" alt="" />
          </div>
          <a href="#">Bánh trứng NV double phô mai</a>
          <p>32.000đ</p>
        </div>
        <div class="product">
          <div class="overflow-hidden">
            <img src="IMG/matcha-choco.jpg" alt="" />
          </div>
          <a href="#">Bánh trứng matcha nhân choco</a>
          <p>31.000đ</p>
        </div>
        <div class="product">
          <div class="overflow-hidden">
            <img src="IMG/pmtmrb.jpg" alt="" />
          </div>

          <a href="#">Bánh trứng NV phô mai trứng muối rong biển</a>
          <p>41.000đ</p>
        </div>
        <div class="product">
          <div class="overflow-hidden">
            <img src="IMG/x2pmtm.jpg" alt="" />
          </div>

          <a href="#">Bánh trứng NV trứng muối double phô mai</a>
          <p>40.000đ</p>
        </div>
        <div class="product">
          <div class="overflow-hidden">
            <img src="IMG/pmxxcb.jpg" alt="" />
          </div>
          <a href="product-details.html"
            >Bánh trứng NV phô mai xúc xích chà bông</a
          >
          <p>36.000đ</p>
        </div> -->
      </div>
    </div>

    <!-- UPSELL PRODUCTS -->
    <div class="best-sellers">
      <div class="title">
        <h2>Mua thêm</h2>
      </div>

      <div class="product-list">
        <!-- <div class="product">
          <div class="overflow-hidden">
            <img src="IMG/cacao-eggcream.jpg" alt="" />
          </div>
          <a href="#">Cacao dầm kem trứng</a>
          <p>30.000đ</p>
        </div>
        <div class="product">
          <div class="overflow-hidden">
            <img src="IMG/cacao-milktea.jpg" alt="" />
          </div>
          <a href="#">Trà sữa cacao</a>
          <p>28.000đ</p>
        </div>
        <div class="product">
          <div class="overflow-hidden">
            <img src="IMG/milk-coffee.jpg" alt="" />
          </div>
          <a href="#">Sữa tươi cà phê</a>
          <p>25.000đ</p>
        </div>
        <div class="product">
          <div class="overflow-hidden">
            <img src="IMG/rice-milktea.jpg" alt="" />
          </div>

          <a href="#">Trà sữa gạo</a>
          <p>25.000đ</p>
        </div>
        <div class="product">
          <div class="overflow-hidden">
            <img src="IMG/taro-milk.jpg" alt="" />
          </div>

          <a href="#">Sữa tươi khoai môn</a>
          <p>25.000đ</p>
        </div> -->
      </div>
    </div>

    <!-- FOOTER -->
    <footer>
      <div class="left-footer">
        <h1>Say Cheese</h1>
        <h4>Ăn bánh uống trà</h4>
        <p>
          Địa chỉ: 017 chung cư Phan Văn Trị, đường Lê Hồng Phong, phường 2,
          quận 5, tpHCM
        </p>
        <p>Số Điện Thoại: 0379427326</p>
        <p>Email: huynhphamthuyanh.126@gmail.com</p>
      </div>
      <img class="footer-logo" src="../images/logo.jpg" alt="" />
    </footer>

    <script src="../index.js"></script>
  </body>
</html>
