<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Say Cheese</title>
    <!-- Link CSS -->
    <link rel="stylesheet" href="../style/home.css" />
    <!-- Bootstrap icons library -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="../images/favicon.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <!-- CUTE CAT -->
    <img
      id="dance-cat2"
      src="../images/dance-cat.gif"
      width="200"
      height="200"
    />
    <img
      id="dance-cat"
      src="../images/dance-cat2.gif"
      width="200"
      height="200"
    />

    <!-- HEADER -->
    <header>
      <a href="index.html">
        <h1>SayCheese</h1>
      </a>
      <div class="sign-in-options">
        <a href="cart.html">
          <img width="25" src="../images/grocery-store.png" alt="cart" />
          <span id="cart-count"></span>
        </a>
      </div>
    </header>
    <!-- NAVBAR -->
    <nav>
      <ul>
        <li>
          <a href="./index.html">Trang chủ</a>
          <ul>
            <li><a href="./index.html#danh-muc">Danh mục</a></li>
            <li><a href="./index.html#ua-chuong">Món ưa chuộng</a></li>
            <li><a href="./index.html#xem-nhieu">Món yêu thích nhất</a></li>
            <li><a href="./index.html#ban-chay">Món bán chạy</a></li>
          </ul>
        </li>
        <li>
          <a href="./shop.html">Cửa hàng</a>
          <ul id="menu-cate"></ul>
        </li>
      </ul>
    </nav>

    <!-- BANNER IMAGE -->
    <div class="banner">
      <div class="banner-container">
        <h1>Cửa hàng</h1>
      </div>
    </div>

    <div class="main-container">
      <div class="left-container">
        <!-- SHOP TOOLBAR -->
        <div class="shop-toolbar">
          <select value="" id="filterList">
            <option value="Tất cả" selected>Tất cả</option>
            <option value="Bán chạy">Bán chạy</option>
            <option value="Mới nhất">Mới nhất</option>
            <option value="Đặc trưng">Đặc trưng</option>
          </select>
          <select value="" id="sortList">
            <option value="random" selected>-- Sắp xếp --</option>
            <option value="price-high">Giá tăng dần</option>
            <option value="price-low">Giá giảm dần</option>
            <option value="name">Tên</option>
          </select>
        </div>

        <!-- PRODUCT LIST -->
        <div class="five-prod-list" id="shop-prod-list">
          <div id="alllist" class="product-list"></div>
          <div class="table-footer">
            <span id="product-count"></span>
            <div class="pagination" id="product-pagination">
              <a href="#" id="begin-btn" class=""
                ><i class="bi bi-chevron-double-left"></i
              ></a>
              <a href="#" id="previous-btn" class=""
                ><i class="bi bi-chevron-left"></i
              ></a>
              <a href="#" id="next-btn" class=""
                ><i class="bi bi-chevron-right"></i
              ></a>
              <a href="#" id="end-btn" class=""
                ><i class="bi bi-chevron-double-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="right-container">
        <div class="sidebar-prod">
          <h3>Danh mục</h3>
          <ul id="menu-cate">
            <li><a href="shop.html">Tất cả danh mục</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <footer>
      <div class="left-footer">
        <h1>Say Cheese</h1>
        <h4>Ăn bánh uống trà</h4>
        <p>
          Địa chỉ: 017 chung cư Phan Văn Trị, đường Lê Hồng Phong, phường 2,
          quận 5, tpHCM
        </p>
        <p>Số Điện Thoại: 0379427326</p>
        <p>Email: huynhphamthuyanh.126@gmail.com</p>
      </div>
      <img class="footer-logo" src="../images/logo.jpg" alt="" />
    </footer>
    <script src="../index.js"></script>
    <script src="../src/shop.js"></script>
  </body>
</html>
