<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Say Cheese - Admin</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../IMG/favicon.png" type="image/x-icon" />
    <!-- Bootstrap icons library -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- Link CSS -->
    <link rel="stylesheet" href="../css/home.css" />
    <!-- Chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <nav>
      <a href="./index.html"
        ><img width="100" src="../IMG/logo.jpg" alt="logo"
      /></a>
      <ul>
        <li>
          <a class="active" href="./index.html">Home</a>
        </li>
        <li><a href="./products.html">Products</a></li>
        <li><a href="./categories.html">Categories</a></li>
        <li><a href="./users.html">Users</a></li>
        <li><a href="./orders.html">Orders</a></li>
      </ul>
      <button class="btn2">Log out</button>
      <!-- <div>
          <a href="index.php?page=login">
            <button id="logInBtn">Log in</button>
          </a>
          <a href="index.php?page=signin">
            <button id="signUpBtn">Sign up</button>
          </a>
        </div> -->
    </nav>

    <div class="" style="width: 80%" id="category-main">
      <div>
        <div class="cols-2">
          <h1>CATEGORIES</h1>
          <button onclick="postCategory(); fetchCategories();">+ Add category</button>

        </div>
        <input class="search-bar" type="text" placeholder="Search Brand" />
      </div>

      <table id="categories-table">
        <thead>
          <tr>
            <th>
              ID
              <div class="sort-btn">
                <a><i class="bi bi-chevron-compact-up"></i></a>
                <a><i class="bi bi-chevron-compact-down"></i></a>
              </div>
            </th>
            <th>
              Category name
              <div class="sort-btn">
                <a><i class="bi bi-chevron-compact-up"></i></a
                ><a><i class="bi bi-chevron-compact-down"></i></a>
              </div>
            </th>
            <th class="display-flex">
              Products
              <div class="sort-btn">
                <a><i class="bi bi-chevron-compact-up"></i></a
                ><a><i class="bi bi-chevron-compact-down"></i></a>
              </div>
            </th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="alllist" class=""></tbody>
      </table>
    </div>

    <!-- Inline Edit Form -->
    <div
      id="editFormContainer"
      class="edit-form-container p-20"
      style="
        display: none;
        border: 1px solid;
        flex-direction: column;
        gap: 10px;
      "
    >
      <form>
        <h3><label for="editName">Category name</label></h3>
        <input
          type="text"
          id="editName"
          placeholder="Enter category title"
          required
        />
      </form>
      <!-- <button></button> -->
    </div>
    <script src="../src/categories.js"></script>
    <style>
      .edit-form-container {
        margin: 50px auto;
        width: 30%;
      }
    </style>
  </body>
</html>
