<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Say Cheese - Admin</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../IMG/favicon.png" type="image/x-icon" />
    <!-- Bootstrap icons library -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- Link CSS -->
    <link rel="stylesheet" href="../css/home.css" />
    <!-- Chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    <nav>
      <a href="index.php?page=home"
        ><img width="100" src="../IMG/logo.jpg" alt="logo"
      /></a>
      <ul>
        <li>
          <a class="active" href="./index.html">Home</a>
        </li>
        <li><a href="./products.html">Products</a></li>
        <li><a href="./categories.html">Categories</a></li>
        <li><a href="./users.html">Users</a></li>
        <li><a href="./orders.html">Orders</a></li>
      </ul>
      <button class="btn2">Log out</button>
      <!-- <div>
        <a href="index.php?page=login">
          <button id="logInBtn">Log in</button>
        </a>
        <a href="index.php?page=signin">
          <button id="signUpBtn">Sign up</button>
        </a>
      </div> -->
    </nav>
    <main id="admin-index" class="container">
      <!-- GREETING HEADER -->
      <header class="display-flex w-100">
        <span id="greetings">
          <h1>Good morning, Admin!</h1>
          <p>Here's what's happening with your store today.</p>
        </span>
        <button>ADD PRODUCT</button>
      </header>

      <!-- OVERALL REPORT -->
      <div class="overall-report display-flex w-100">
        <div class="best">
          <span class="display-flex">
            <h4>TOTAL EARNING</h4>
            <h4 class="percentage">+ 20%</h4>
          </span>
          <div class="display-flex">
            <span>
              <h2>1.000.000VND</h2>
              <a href="#">view net earnings</a>
            </span>
            <i class="bi bi-currency-dollar"></i>
          </div>
        </div>
        <div class="best">
          <span class="display-flex">
            <h4>TOTAL USERS</h4>
            <h4 class="percentage">+ 20%</h4>
          </span>
          <div class="display-flex">
            <span>
              <h2>1.000</h2>
              <a href="#">view users list</a>
            </span>
            <i class="bi bi-person"></i>
          </div>
        </div>
        <div class="best">
          <span class="display-flex">
            <h4>TOTAL ORDERS</h4>
            <h4 class="percentage">+ 20%</h4>
          </span>
          <div class="display-flex">
            <span>
              <h2>1.000</h2>
              <a href="#">view orders list</a>
            </span>
            <i class="bi bi-bag"></i>
          </div>
        </div>
      </div>

      <!-- REVENUE -->
      <section class="best w-100 revenue">
        <div class="display-flex">
          <h3>Revenue</h3>
          <div class="revemue-btns">
            <button>ALL</button><button>1M</button><button>6M</button
            ><button>1Y</button>
          </div>
        </div>

        <canvas id="revenueChart">
          <script>
            // Get the canvas element
            var ctx = document.getElementById("revenueChart").getContext("2d");

            // Create the chart data
            var chartData = {
              labels: [
                "January",
                "February",
                "March",
                "April",
                "May",
                "June",
                "July",
                "August",
                "September",
                "October",
                "November",
                "December",
              ],
              datasets: [
                {
                  label: "Revenue",
                  data: [
                    1000000, 1200000, 1500000, 1800000, 2000000, 2200000,
                    2500000, 1500000, 1800000, 2000000, 2200000, 2500000,
                  ],
                  backgroundColor: "#fae9b3",
                  borderColor: "#e7b10a",
                  borderWidth: 1,
                },
              ],
            };

            // Create the chart
            var revenueChart = new Chart(ctx, {
              type: "bar",
              data: chartData,
              options: {
                responsive: true,
                scales: {
                  y: {
                    beginAtZero: true,
                  },
                },
              },
            });
          </script>
        </canvas>
      </section>

      <div
        style="
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        "
      >
        <!-- BEST SELLING PRODUCT -->
        <section class="static w-60">
          <div class="display-flex pd-20">
            <h3>Best selling product</h3>
            <span class="sort display-flex">
              <p>SORT BY:</p>
              <select name="sorting" id="product-sorting">
                <option value="0">today</option>
                <option value="1">week</option>
                <option value="2">month</option>
              </select>
            </span>
          </div>

          <table class="product-table">
            <tbody id="best-seller"></tbody>
          </table>
          <div class="table-footer">
            <span id="product-count"></span>
            <div class="pagination" id="product-pagination">
              <a href="#" id="begin-btn" class="disabled"
                ><i class="bi bi-chevron-double-left"></i
              ></a>
              <a href="#" id="previous-btn" class="disabled"
                ><i class="bi bi-chevron-left"></i
              ></a>
              <a href="#" id="next-btn"><i class="bi bi-chevron-right"></i></a>
              <a href="#" id="end-btn"
                ><i class="bi bi-chevron-double-right"></i
              ></a>
            </div>
          </div>
        </section>

        <div class="w-40">
          <!-- BEST SELLING WAFFLES -->
          <section class="static">
            <div class="display-flex pd-20">
              <h3>Best selling categories</h3>
              <span class="sort display-flex">
                SORT BY:
                <select name="sorting" id="">
                  <option value="0">today</option>
                  <option value="1">week</option>
                  <option value="2">month</option>
                </select>
              </span>
            </div>
            <table>
              <tbody id="categories"></tbody>
            </table>
            <!-- <div class="table-footer">
              <span id="product-count">Showing 10 of 100 results</span>
              <div class="pagination" id="product-pagination">
                <a href="#" id="begin-btn" class="disabled"
                  ><i class="bi bi-chevron-double-left"></i
                ></a>
                <a href="#" id="previous-btn" class="disabled"
                  ><i class="bi bi-chevron-left"></i
                ></a>
                <a href="#" id="next-btn"><i class="bi bi-chevron-right"></i></a>
                <a href="#" id="end-btn"
                  ><i class="bi bi-chevron-double-right"></i
                ></a>
              </div>
            </div> -->
          </section>

          <!-- BEST SELLING MILK TEA -->
          <section class="static">
            <div class="display-flex pd-20">
              <h3>Best selling milk tea</h3>
              <span class="sort display-flex">
                SORT BY:
                <select name="sorting" id="">
                  <option value="0">today</option>
                  <option value="1">week</option>
                  <option value="2">month</option>
                </select>
              </span>
            </div>

            <table>
              <tbody id="milk-tea"></tbody>
            </table>
            <!-- <div class="table-footer">
              <span id="product-count">Showing 10 of 100 results</span>
              <div class="pagination" id="product-pagination">
                <a href="#" id="begin-btn" class="disabled"
                  ><i class="bi bi-chevron-double-left"></i
                ></a>
                <a href="#" id="previous-btn" class="disabled"
                  ><i class="bi bi-chevron-left"></i
                ></a>
                <a href="#" id="next-btn"><i class="bi bi-chevron-right"></i></a>
                <a href="#" id="end-btn"
                  ><i class="bi bi-chevron-double-right"></i
                ></a>
              </div>
            </div> -->
          </section>
        </div>

        <!-- BEST SELLING TEAS -->
        <section class="static w-60">
          <div class="display-flex pd-20">
            <h3>Best selling teas</h3>
            <span class="sort display-flex">
              SORT BY:
              <select name="sorting" id="">
                <option value="0">today</option>
                <option value="1">week</option>
                <option value="2">month</option>
              </select>
            </span>
          </div>

          <table class="product-table">
            <tbody id="tea">
              <!-- <tr>
                <td>
                  <div style="display: flex">
                    <img src="" alt="" style="width: 50px" />
                    <div>
                      <a>Name</a>
                      <span>Brand - Model</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div>
                    <p>02/06/2024</p>
                    <span>Latest import</span>
                  </div>
                </td>
                <td>
                  <div>
                    <p style="color: var(--brand-color)">Quantity</p>
                    <span>Quantity</span>
                  </div>
                </td>
              </tr> -->
            </tbody>
          </table>
          <!-- <div class="table-footer">
            <span id="product-count">Showing 10 of 100 results</span>
            <div class="pagination" id="product-pagination">
              <a href="#" id="begin-btn" class="disabled"
                ><i class="bi bi-chevron-double-left"></i
              ></a>
              <a href="#" id="previous-btn" class="disabled"
                ><i class="bi bi-chevron-left"></i
              ></a>
              <a href="#" id="next-btn"><i class="bi bi-chevron-right"></i></a>
              <a href="#" id="end-btn"
                ><i class="bi bi-chevron-double-right"></i
              ></a>
            </div>
          </div> -->
        </section>

        <!-- MOST REGISTERED SERVICES -->
        <section class="static w-40">
          <div class="display-flex pd-20">
            <h3>Best selling </h3>
            <span class="sort display-flex">
              SORT BY:
              <select name="sorting" id="">
                <option value="0">today</option>
                <option value="1">week</option>
                <option value="2">month</option>
              </select>
            </span>
          </div>

          <table>
            <tbody>
              <tr>
                <td>
                  <a href="">Periodic maintenance</a>
                </td>
                <td>
                  <div>
                    <p style="color: var(--brand-color)">4</p>
                    <span>Price</span>
                  </div>
                </td>
                <td>
                  <div>
                    <p style="color: var(--brand-color)">1000</p>
                    <span>Orders</span>
                  </div>
                </td>
                <td>
                  <div>
                    <p>3.000.000.000</p>
                    <span>Amount</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="">Repair service</a>
                </td>
                <td>
                  <div>
                    <p style="color: var(--brand-color)">4</p>
                    <span>Price</span>
                  </div>
                </td>
                <td>
                  <div>
                    <p style="color: var(--brand-color)">1000</p>
                    <span>Orders</span>
                  </div>
                </td>
                <td>
                  <div>
                    <p>3.000.000.000</p>
                    <span>Amount</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="">Automotive beauty car service</a>
                </td>
                <td>
                  <div>
                    <p style="color: var(--brand-color)">4</p>
                    <span>Price</span>
                  </div>
                </td>
                <td>
                  <div>
                    <p style="color: var(--brand-color)">1000</p>
                    <span>Orders</span>
                  </div>
                </td>
                <td>
                  <div>
                    <p>3.000.000.000</p>
                    <span>Amount</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="">Brumble insurance</a>
                </td>
                <td>
                  <div>
                    <p style="color: var(--brand-color)">4</p>
                    <span>Price</span>
                  </div>
                </td>
                <td>
                  <div>
                    <p style="color: var(--brand-color)">1000</p>
                    <span>Orders</span>
                  </div>
                </td>
                <td>
                  <div>
                    <p>3.000.000.000</p>
                    <span>Amount</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- <div class="table-footer">
            <span id="product-count">Showing 10 of 100 results</span>
            <div class="pagination" id="product-pagination">
              <a href="#" id="begin-btn" class="disabled"
                ><i class="bi bi-chevron-double-left"></i
              ></a>
              <a href="#" id="previous-btn" class="disabled"
                ><i class="bi bi-chevron-left"></i
              ></a>
              <a href="#" id="next-btn"><i class="bi bi-chevron-right"></i></a>
              <a href="#" id="end-btn"
                ><i class="bi bi-chevron-double-right"></i
              ></a>
            </div>
          </div> -->
        </section>

        <!-- RECENT ORDERS -->
        <section class="static w-100">
          <div class="display-flex pd-20">
            <h3>Recent orders</h3>
            <span class="sort display-flex">
              SORT BY:
              <select name="sorting" id="">
                <option value="0">date</option>
                <option value="1">price</option>
                <option value="2">status</option>
              </select>
            </span>
          </div>
          <table id="order-table">
            <thead>
              <tr>
                <th>Order ID</th>
                <th>Customer</th>
                <th>Service</th>
                <th>Order date</th>
                <th>Amount</th>
                <th>Delivery startus</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>#VZ12</td>
                <td>Nguyễn Văn A</td>
                <td>DT - Corolla Altis</td>
                <td>20 May, 2024 4:50 PM</td>
                <td>$100</td>
                <td>
                  <span class="status active">Active</span>
                </td>
                <td>
                  <a>View</a>
                  /
                  <a>Edit</a>
                </td>
              </tr>
              <tr>
                <td>#VZ12</td>
                <td>Nguyễn Văn A</td>
                <td>DT - Corolla Altis</td>
                <td>20 May, 2024 4:50 PM</td>
                <td>$100</td>
                <td>
                  <span class="status active">Active</span>
                </td>
                <td>
                  <a>View</a>
                  /
                  <a>Edit</a>
                </td>
              </tr>
              <tr>
                <td>#VZ12</td>
                <td>Nguyễn Văn A</td>
                <td>DT - Corolla Altis</td>
                <td>20 May, 2024 4:50 PM</td>
                <td>$100</td>
                <td>
                  <span class="status active">Active</span>
                </td>
                <td>
                  <a>View</a>
                  /
                  <a>Edit</a>
                </td>
              </tr>
              <tr>
                <td>#VZ12</td>
                <td>Nguyễn Văn A</td>
                <td>DT - Corolla Altis</td>
                <td>20 May, 2024 4:50 PM</td>
                <td>$100</td>
                <td>
                  <span class="status active">Active</span>
                </td>
                <td>
                  <a>View</a>
                  /
                  <a>Edit</a>
                </td>
              </tr>
              <tr>
                <td>#VZ12</td>
                <td>Nguyễn Văn A</td>
                <td>DT - Corolla Altis</td>
                <td>20 May, 2024 4:50 PM</td>
                <td>$100</td>
                <td>
                  <span class="status active">Active</span>
                </td>
                <td>
                  <a>View</a>
                  /
                  <a>Edit</a>
                </td>
              </tr>
              <tr>
                <td>#VZ12</td>
                <td>Nguyễn Văn A</td>
                <td>DT - Corolla Altis</td>
                <td>20 May, 2024 4:50 PM</td>
                <td>$100</td>
                <td>
                  <span class="status active">Active</span>
                </td>
                <td>
                  <a>View</a>
                  /
                  <a>Edit</a>
                </td>
              </tr>
              <tr>
                <td>#VZ12</td>
                <td>Nguyễn Văn A</td>
                <td>DT - Corolla Altis</td>
                <td>20 May, 2024 4:50 PM</td>
                <td>$100</td>
                <td>
                  <span class="status active">Active</span>
                </td>
                <td>
                  <a>View</a>
                  /
                  <a>Edit</a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="table-footer">
            <span id="product-count">Showing 10 of 100 results</span>
            <div class="pagination" id="product-pagination">
              <a href="#" id="begin-btn" class="disabled"
                ><i class="bi bi-chevron-double-left"></i
              ></a>
              <a href="#" id="previous-btn" class="disabled"
                ><i class="bi bi-chevron-left"></i
              ></a>
              <a href="#" id="next-btn"><i class="bi bi-chevron-right"></i></a>
              <a href="#" id="end-btn"
                ><i class="bi bi-chevron-double-right"></i
              ></a>
            </div>
          </div>
        </section>
      </div>
    </main>

    <script src="../app.js"></script>
  </body>
</html>
