<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Say Cheese - Admin</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../IMG/favicon.png" type="image/x-icon" />
    <!-- Bootstrap icons library -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- Link CSS -->
    <link rel="stylesheet" href="../css/home.css" />
    <!-- Chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  </head>
  <body>
    <nav>
      <a href="./index.html"
        ><img width="100" src="../IMG/logo.jpg" alt="logo"
      /></a>
      <ul>
        <li>
          <a class="active" href="./index.html">Home</a>
        </li>
        <li><a href="./products.html">Products</a></li>
        <li><a href="./categories.html">Categories</a></li>
        <li><a href="./users.html">Users</a></li>
        <li><a href="./orders.html">Orders</a></li>
      </ul>
      <button class="btn2">Log out</button>
      <!-- <div>
          <a href="index.php?page=login">
            <button id="logInBtn">Log in</button>
          </a>
          <a href="index.php?page=signin">
            <button id="signUpBtn">Sign up</button>
          </a>
        </div> -->
    </nav>
    <main class="container" id="orders-main">
      <h1>ORDERS</h1>
      <!-- <form class="filter">
        <input
          class="search-bar"
          type="text"
          name="search-input"
          placeholder="Search Brand"
          style="margin-bottom: 0"
        />
        <input
          class="search-bar w-60"
          type="text"
          name="search-input"
          placeholder="Search Brand"
          style="margin-bottom: 0"
        />
        <select name="status" class="dropdown1" value="0">
          <option value="0">-- Select date --</option>
          <option value="1">All</option>
          <option value="2">Male</option>
          <option value="3">Female</option>
        </select>
        <button>Filter</button>
      </form> -->

      <table>
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Customer</th>
            <th>Service</th>
            <th>Order date</th>
            <th>Amount</th>
            <th>Delivery status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="alllist">
          <!-- <tr>
            <td>id</td>
            <td><a href="">Customer's name</a></td>
            <td>service</td>
            <td>date</td>
            <td>total</td>
            <td>
              <select class="status-dropdown">
                <option value="pending">Pending</option>
                <option value="processing">Processing</option>
                <option value="shipped">Shipped</option>
                <option value="delivered">Delivered</option>
              </select>
            </td>
            <td>
              <a>View</a> / <a>Edit</a> / <button class="update-status edit-btn">Update</button>
            </td>
          </tr> -->
        </tbody>
      </table>
      <!-- <div class="table-footer">
        <span>Showing 8 of 25 results</span>
        <div class="pagination">
            <a href="#">Previous</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">Next</a>
        </div>
    </div> -->
    </main>
    <script src="../src/orders.js"></script>
  </body>
</html>
