<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Say Cheese - Admin</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../IMG/favicon.png" type="image/x-icon" />
    <!-- Bootstrap icons library -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- Link CSS -->
    <link rel="stylesheet" href="../css/home.css" />
    <!-- Chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <nav>
      <a href="./index.html"
        ><img width="100" src="../IMG/logo.jpg" alt="logo"
      /></a>
      <ul>
        <li>
          <a href="./index.html">Home</a>
        </li>
        <li><a href="./products.html">Products</a></li>
        <li><a href="./categories.html">Categories</a></li>
        <li><a href="./users.html">Users</a></li>
        <li><a href="./orders.html">Orders</a></li>
      </ul>
      <button class="btn2">Log out</button>
      <!-- <div>
          <a href="index.php?page=login">
            <button id="logInBtn">Log in</button>
          </a>
          <a href="index.php?page=signin">
            <button id="signUpBtn">Sign up</button>
          </a>
        </div> -->
    </nav>
    <main id="products-main" class="container">
      <!-- HEADER -->
      <header class="revenue p-20 mb-20">
        <h1>PRODUCTS</h1>
        <div class="cols-2">
          <a href="./add-product.html" class="add-btn">+ Add Product</a>
          <input
            class="search-bar w-40"
            type="text"
            placeholder="Search Brand"
          />
        </div>
      </header>
      <div class="display-flex">
        <aside class="static right-col">
          <div class="display-flex">
            <h3>Filters</h3>
          </div>
          <div class="aside-filter">
            <h3>Categories</h3>
            <ul>
              <li>
                <input type="checkbox" name="sedan" id="" />
                Bánh trứng gà non HongKong
              </li>
              <li>
                <input type="checkbox" name="sedan" id="" />
                Say Cheese ĐẬM VỊ
              </li>
              <li>
                <input type="checkbox" name="sedan" id="" />
                Say Cheese CÓ GU
              </li>
              <li>
                <input type="checkbox" name="sedan" id="" />
                Say Cheese THƠM BÉO
              </li>
              <li>
                <input type="checkbox" name="sedan" id="" />
                Say Cheese THANH MÁT
              </li>
            </ul>
          </div>
          <div class="aside-filter">
            <h3>Tagged products</h3>
            <ul>
              <li>
                <input type="checkbox" name="sedan" id="" />
                Món mới
              </li>
              <li>
                <input type="checkbox" name="sedan" id="" />
                Đặc trưng
              </li>
              <li>
                <input type="checkbox" name="sedan" id="" />
                Bán chạy
              </li>
            </ul>
          </div>
        </aside>
        <section class="static left-col">
          <table id="product-table">
            <thead>
              <tr>
                <th>
                  ID
                  <div class="sort-btn">
                    <a><i class="bi bi-chevron-compact-up"></i></a>
                    <a><i class="bi bi-chevron-compact-down"></i></a>
                  </div>
                </th>
                <th>
                  Product name
                  <div class="sort-btn">
                    <a><i class="bi bi-chevron-compact-up"></i></a
                    ><a><i class="bi bi-chevron-compact-down"></i></a>
                  </div>
                </th>
                <th>
                  Stock
                  <div class="sort-btn">
                    <a><i class="bi bi-chevron-compact-up"></i></a
                    ><a><i class="bi bi-chevron-compact-down"></i></a>
                  </div>
                </th>
                <th>
                  Price (vnd)
                  <div class="sort-btn">
                    <a><i class="bi bi-chevron-compact-up"></i></a
                    ><a><i class="bi bi-chevron-compact-down"></i></a>
                  </div>
                </th>
                <th>
                  Orders
                  <div class="sort-btn">
                    <a><i class="bi bi-chevron-compact-up"></i></a
                    ><a><i class="bi bi-chevron-compact-down"></i></a>
                  </div>
                </th>
                <th class="display-flex">
                  Views
                  <div class="sort-btn">
                    <a><i class="bi bi-chevron-compact-up"></i></a
                    ><a><i class="bi bi-chevron-compact-down"></i></a>
                  </div>
                </th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="alllist">
              <!-- <tr>
                <td>id</td>
                <td class="display-flex">
                  <img src="" alt="" style="width: 50px" />
                  <div>
                    <a>name</a>
                    <span>category</span>
                  </div>
                </td>
                <td style="color: var(--brand-color)">stock</td>
                <td>price</td>
                <td style="color: var(--brand-color)">4</td>
                <td><span>view</span></td>
                <td>
                  <a href="">Edit</a>
                  <a href="">Disable</a>
                </td>
              </tr> -->
            </tbody>
          </table>
          <div class="table-footer">
            <span id="product-count"></span>
            <div class="pagination" id="product-pagination">
              <a href="#" id="begin-btn" class="disabled"
                ><i class="bi bi-chevron-double-left"></i
              ></a>
              <a href="#" id="previous-btn" class="disabled"
                ><i class="bi bi-chevron-left"></i
              ></a>
              <a href="#" id="next-btn"><i class="bi bi-chevron-right"></i></a>
              <a href="#" id="end-btn"
                ><i class="bi bi-chevron-double-right"></i
              ></a>
            </div>
          </div>
    </section>
  </div>
  
  <!-- Inline Edit Form -->
  <div id="edit-form-container" class="hidden">
    <form id="edit-product-form" class="display-flex">
      <div class="left-col">
        <div class="best">
          <h3><label for="edit-name">Product name</label></h3>
          <input type="text" id="edit-name" placeholder="Enter product title" required />
          
          <h3><label for="edit-description">Description</label></h3>
          <input type="text" id="edit-description" placeholder="Enter description" required />
          
          <h3>Product Image</h3>
          <input type="text" id="edit-image" />
          
          <h3><label for="edit-category">Category</label></h3>
          <select id="edit-category" class="dropdown1">
            <option value="0">-- Select category --</option>
            <option value="1">Bánh trứng gà non HongKong</option>
            <option value="2">Say Cheese ĐẬM VỊ</option>
            <option value="3">Say Cheese THƠM BÉO</option>
            <option value="4">Say Cheese THANH MÁT</option>
            <option value="5">Say Cheese CÓ GU</option>
          </select>
        </div>
      </div>
      
      <div class="right-col">
        <div class="best" style="padding-bottom: 30px">
          <div>
            <h3><label for="edit-stock">Stock</label></h3>
            <input type="text" id="edit-stock" placeholder="Quantity" required />
          </div>
          <div>
            <h3><label for="edit-price">Price</label></h3>
            <input type="text" id="edit-price" placeholder="Price" required />
          </div>
          <h3><label for="status">Tags</label></h3>
          <div id="box-content">
            <div>
              <input type="checkbox" id="edit-new-item" name="tag" value="Món mới" />
              <label for="edit-new-item">Món mới</label>
            </div>
            <div>
              <input type="checkbox" id="edit-signature" name="tag" value="Đặc trưng" />
              <label for="edit-signature">Đặc trưng</label>
            </div>
            <div>
              <input type="checkbox" id="edit-best-seller" name="tag" value="Bán chạy" />
              <label for="edit-best-seller">Bán chạy</label>
            </div>
          </div>
        </div>
        <div class="form-buttons">
          <button type="button" onclick="cancelEdit()" class="btn-cancel">Cancel</button>
          <button type="submit" class="btn-submit">Save Changes</button>
        </div>
      </div>
    </form>
  </div>
    </main>
    
    <!-- Inline Edit Form -->
    <div id="editFormContainer" class="edit-form-container" style="display: none;">
      <form class="display-flex">
        <div class="left-col">
          <div class="best">
            <h3><label for="editName">Product name</label></h3>
            <input type="text" id="editName" placeholder="Enter product title" required>
            <h3><label for="editDescription">Description</label></h3>
            <input type="text" id="editDescription" placeholder="Enter description" required>
            <h3>Product Image</h3>
            <input type="text" id="editImage">
            <h3><label for="editCategory">Category</label></h3>
            <select id="editCategory" class="dropdown1">
              <option value="0">-- Select category --</option>
              <option value="Say Cheese CÓ GU">Say Cheese CÓ GU</option>
              <option value="Say Cheese ĐẬM VỊ">Say Cheese ĐẬM VỊ</option>
              <option value="Say Cheese THANH MÁT">Say Cheese THANH MÁT</option>
              <option value="Say Cheese THƠM BÉO">Say Cheese THƠM BÉO</option>
              <option value="Bánh trứng gà non HongKong">Bánh trứng gà non HongKong</option>
            </select>
          </div>
        </div>
        <div class="right-col">
          <div class="best" style="padding-bottom: 30px">
            <div>
              <h3><label for="editStock">Stock</label></h3>
              <input type="text" id="editStock" placeholder="Quantity" required>
            </div>
            <div>
              <h3><label for="editPrice">Price</label></h3>
              <input type="text" id="editPrice" placeholder="Price" required>
            </div>
            <h3><label for="box-content">Tags</label></h3>
            <div id="box-content">
              <div>
                <input type="checkbox" id="editNewItem" name="tag" value="Món mới">
                <label for="editNewItem">Món mới</label>
              </div>
              <div>
                <input type="checkbox" id="editSignature" name="tag" value="Đặc trưng">
                <label for="editSignature">Đặc trưng</label>
              </div>
              <div>
                <input type="checkbox" id="editBestSeller" name="tag" value="Bán chạy">
                <label for="editBestSeller">Bán chạy</label>
              </div>
            </div>
          </div>
          <!-- <button type="button" style="float: right;" onclick="saveEdit()">Save Changes</button>
          <button type="button" style="float: right; margin-right: 10px; background-color: transparent; color: var(--brand-color);" onclick="cancelEdit()">Cancel</button> -->
        </div>
      </form>
    </div>

    <script src="../src/products.js"></script>
    <script src="../app.js"></script>
    <style>
      .edit-form-container {
        margin: 50px auto;
        width: 90%;
      }
    </style>
  </body>
</html>
